.content {
  text-align: center;
  font-size: 72px;
}

.video {
  display: none;
  visibility: hidden;
}

.audio {
  display: none;
  visibility: hidden;
}

@media (max-width: 600px) {
  .content {
    font-size: 36px;
  }
}


