.content {
  text-align: center;
  font-size: 72px;
}

.welcomeText {
  font-size: 20px;
  color: #7F7F7F;
}

.video {
  display: none;
  visibility: hidden;
}

.audio {
  display: none;
  visibility: hidden;
}
