.content {
  text-align: center;
  font-size: 82px;
}

.video {
  display: none;
  visibility: hidden;
}

.audio {
  display: none;
  visibility: hidden;
}

.description {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 36px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center;
  background-color: black;
  opacity: 1;
  transition: 200ms opacity, 200ms z-index;
  cursor: pointer;
}

:global(.hide) {
  opacity: 0;
  z-index: 0;
}

.description > * {
  display: inline-block;
  vertical-align: middle;
}

.description:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.back {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 55px;
  font-size: 36px;
  z-index: 3;
  display: block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.back:before {
  content: "✕";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.description p {
  max-width: 50%;
}

.description .toggle {
  margin-top: 2em;
  display: block;
}

@media (max-width: 740px) {

  .back,
  .description {
    font-size: 20px;
  }

  .back {
    width: 30px;
    height: 35px;
  }

  .description p {
    padding: 0 20px;
    max-width: none;
  }

  .content {
    font-size: 40px;
  }
}


