/* cool stuff */
.directory {
  list-style: none;
  margin: 0;
  padding: 0;
}

.directory a {
  color: white;
  text-decoration: none;
}

.directory a:visited {
  color: white;
}

.directory p {
  margin: 0;
}