* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  background-color: black;
  font-size: 36px;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  @media (max-width: 800px) {
    padding: 20px;
    font-size: 48px;
  }
}

:global(a) {
  color: white;
  text-decoration: none;
}

:global(a:visited) {
  color: white;
}

:global(p) {
  margin: 0;
}

