@font-face {
  font-family: 'gothic-bold-loose-lkerned';
  src: url('../assets/fonts/Gothic_Bold_Loose_Ikerned.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:global(.gothic-bold-loose-lkerned) {
  font-family: 'gothic-bold-loose-lkerned';
}

@font-face {
  font-family: 'inhouse-gothic';
  src: url('../assets/fonts/Inhouse-Gothic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:global(.inhouse-gothic) {
  font-family: 'inhouse-gothic';
}

@font-face {
  font-family: 'lapidar-mittel';
  src: url('../assets/fonts/Lapidar-Mittel.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:global(.lapidar-mittel) {
  font-family: 'lapidar-mittel';
}

@font-face {
  font-family: 'pegasus-regular';
  src: url('../assets/fonts/Pegasus-Regular_14_ik2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:global(.pegasus-regular) {
  font-family: 'pegasus-regular';
}

@font-face {
  font-family: 'roma';
  src: url('../assets/fonts/Roma.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:global(.roma) {
  font-family: 'roma';
}

@font-face {
  font-family: 'weiss-falk-regular';
  src: url('../assets/fonts/WeissFalk_Regular_FINAL.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:global(.weissfalk-regular) {
  font-family: 'weissfalk-regular';
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  background-color: black;
  font-size: 48px;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global(a) {
  color: white;
  text-decoration: none;
}

:global(a:visited) {
  color: white;
}

:global(p) {
  margin: 0;
}

