@font-face {
  font-family: 'gothic-bold-loose-lkerned';
  src: url('../assets/fonts/Gothic_Bold_Loose_Ikerned.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inhouse-gothic';
  src: url('../assets/fonts/Inhouse-Gothic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lapidar-mittel';
  src: url('../assets/fonts/Lapidar-Mittel.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pegasus-regular';
  src: url('../assets/fonts/Pegasus-Regular_14_ik2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roma';
  src: url('../assets/fonts/Roma.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'weiss-falk-regular';
  src: url('../assets/fonts/WeissFalk_Regular_FINAL.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  background-color: black;
  font-size: 48px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

body:before {
  content: "";
  vertical-align: middle;
  height: 100%;
  display: inline-block;
}

