.cueText {
  color: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: inline-block;
}

.children {

}

:global(.widther) {
  display: inline-block;
  visibility: hidden;
  display: none;
}

:global(.measure) {
  display: inline-block;
  visibility: hidden;
  display: none;
}

